
 html, body {
    margin: 0;
    padding: 0;
    text-align: center; 
    background-color: rgb(247,247,247);
 }
 
 div#nav-container{
     overflow: hidden;
 }
 hr#nav{
     position: relative;
 }
 
 hr {
     display: block;
     height: 1px;
     border: 0;
     border-top: 2px solid rgb(240,240,240);
     margin: 1em 0;
     padding: 0; 
     z-index: 3;
 }
 
 div#page-container{
     background-color: rgb(255,253,250);
     margin: 70pt auto;
     width: 550pt;
     box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
     padding: 75pt 75pt;
     min-height: 550pt;
 
 }
 
 #logo{
     max-width: 55%;
     margin: 30pt auto;
     margin-top: 10pt;
 }

 #mobile-logo{
     display: none;
 }
 
 div.navigation{
     position: relative;
     background-color:rgb(255,253,250);
     top: -21pt;
     z-index: 2;
     max-width: 60%;
     margin: 0 auto;
 }
 
 div.entry-content{
     padding-left: 50pt;
     padding-right: 50pt;
     padding-top: 0pt;
     padding-bottom: 50pt;
 }
 
 li.pure-menu-selected{
     color: black;
     border-bottom: 2px solid rgb(240,240,240);
     padding-left: 1pt;
     padding-right: 1pt;
 }
 
 li.pure-menu-item{
     font-size: 8pt;
     font-weight: 500;
     font-family: 'Montserrat', sans-serif;
     letter-spacing: 1.5pt;
     padding-left: 7pt;
     padding-right: 7pt;
     text-transform: uppercase;
 }
 
 .home-content p{
     font-size: 14pt;
 }

 .home-content p.allcaps{
    font-size: 11pt;
}

a{
    color: black;
}


 p{
     font-family: 'Cormorant Garamond', serif;
     font-size: 12pt;
     line-height: 150%;
 }
 
 .allcaps{
     font-size: 10pt;
     font-family: 'Montserrat', sans-serif;
     font-weight: 300;
     letter-spacing:1.5pt;
     text-transform: uppercase;
 }

 
 img{
     max-width: 100%;
 }

 div.main-image{
    max-width: 70%;
    margin: 0 auto;
 }
 
 .entry-content p{
     max-width: 70%;
     margin: 0 auto;
 }

 .entry-content p+p,div+p,p+div,div+div{
    margin-top: 20pt;
 }

 @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    html, body{
        padding: 0pt;
        min-height: 100vh;
        min-width: 100vh;
    }
    div#page-container{
        margin: 0pt;
        min-width: 100vh;
        min-height: 100vh;
        padding: 1px 5%;
        padding-bottom: 10%;
        border: 1px solid black;
    }
    #logo{
        display: none;

    }

    div.nav-container{
        padding: 0pt;
        margin: 0 auto;
        padding: 0pt;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        left:0;
        min-width: 100%; /* Full width */
        height: 75pt;
        background-color: transparent;
    }

    div.navigation{
        position: static;
        width: 100%;
        height: 75pt;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
    }
    

    div.pure-menu{
        min-width: 100%;
    }

    li.pure-menu-item{
        font-size: 20pt;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1.5pt;
        padding: 0pt 0pt;
        margin: 20pt 2pt;
        text-transform: uppercase;
        color: rgb(255,253,250);
    }

    li.pure-menu-selected{
        text-decoration: underline;
        text-underline-position: under;
        border: none;
        padding-left: 0pt;
        padding-right: 0pt;
    }

    ul.pure-menu-list{
        margin: 0 auto;
        padding: 0;
        top: 0;
        left: 0;
    }

    a.pure-menu-link{
        color: rgba(255,253,250, 0.75);
    }

    .pure-menu-selected a.pure-menu-link{
        color: rgba(255,253,250, 1);
    }

    .pure-menu-selected a.pure-menu-link:visited{
        color: rgba(255,253,250, 1);
    }

    ul{
        margin: 0 auto;
    }

    div.nav-container hr{
        display: none;
    }

    #Home #mobile-logo{
        display: block;
        max-width: 55%;
        margin: 0 auto;
    }

    div.pure-menu-horizontal{
        min-width: 100%;
    }

    nav-container{
        overflow: visible;
    }
   

    p{
        font-size: 22pt;
        line-height: 150%;
        font-family: 'PT Serif', serif;
    }

    .allcaps{
        font-size: 18pt;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        letter-spacing:1.5pt;
        text-transform: uppercase;
    }

    .home-content p{
        font-size: 20pt;
    }
   
    .home-content p.allcaps{
       font-size: 20pt;
   }


    img{
        max-width: 100%;
    }

    div.main-image{
    max-width: 90%;
    margin: 25pt auto;
    }

    div.entry-content{
        padding: 0pt;
    }

    div#content{
        margin-top: 0pt;
        padding-top: 100pt;
        padding-bottom: 1px;
    }

    .entry-content p{
        max-width: 90%;
        padding-bottom:1px;
        margin: 0 auto;
    }

    h3{
        font-size: 18pt;
    }

 
}