
 html, body {
    margin: 0;
    padding: 0;
    text-align: center; 
    background-color: rgb(247,247,247);
 }
 
 div#nav-container{
     overflow: hidden;
 }
 hr#nav{
     position: relative;
 }
 
 hr {
     display: block;
     height: 1px;
     border: 0;
     border-top: 2px solid rgb(240,240,240);
     margin: 1em 0;
     padding: 0; 
     z-index: 3;
 }
 
 div#page-container{
     background-color: rgb(255,253,250);
     margin: 70pt auto;
     width: 550pt;
     box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
     padding: 75pt 75pt;
     min-height: 550pt;
 
 }
 
 #logo{
     max-width: 55%;
     margin: 30pt auto;
     margin-top: 10pt;
 }
 
 div.navigation{
     position: relative;
     background-color:rgb(255,253,250);
     top: -21pt;
     z-index: 2;
     max-width: 60%;
     margin: 0 auto;
 }
 
 div.entry-content{
     padding-left: 50pt;
     padding-right: 50pt;
     padding-top: 0pt;
     padding-bottom: 50pt;
 }
 
 li.pure-menu-selected{
     color: black;
     border-bottom: 2px solid rgb(240,240,240);
     padding-left: 1pt;
     padding-right: 1pt;
 }
 
 li.pure-menu-item{
     font-size: 8pt;
     font-weight: 500;
     font-family: 'Montserrat', sans-serif;
     letter-spacing: 1.5pt;
     padding-left: 7pt;
     padding-right: 7pt;
     text-transform: uppercase;
 }
 
 .home-content p{
     font-size: 14pt;
 }

 .home-content p.allcaps{
    font-size: 11pt;
}

a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}

 p{
     font-family: 'Cormorant Garamond', serif;
     font-size: 12pt;
     line-height: 150%;
 }
 
 p.allcaps{
     font-size: 10pt;
     font-family: 'Montserrat', sans-serif;
     font-weight: 300;
     letter-spacing:1.5pt;
     text-transform: uppercase;
 }
 
 img{
     max-width: 100%;
 }

 div.main-image{
    max-width: 70%;
    margin: 0 auto;
 }
 
 .entry-content p{
     max-width: 70%;
     margin: auto;
 }

 .entry-content p+p,div+p,p+div,div+div{
    margin-top: 20pt;
 }