
 html, body {
    margin: 0;
    padding: 0;
    text-align: center; 
    background-color: rgb(247,247,247);
 }
 
 #hamburger{
     margin: 0;
     display: none;
 }

 #hamburger a{
     font-weight: bold;
 }

 div#nav-container{
     overflow: hidden;
 }
 hr#nav{
     position: relative;
 }
 
 hr {
     display: block;
     height: 1px;
     border: 0;
     border-top: 2px solid rgb(240,240,240);
     margin: 1em 0;
     padding: 0; 
     z-index: 3;
 }
 
 div#page-container{
     background-color: rgb(255,253,250);
     margin: 70pt auto;
     width: 550pt;
     box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
     padding: 75pt 75pt;
     min-height: 550pt;
 
 }
 
 #logo{
     max-width: 55%;
     margin: 30pt auto;
     margin-top: 10pt;
 }

 #mobile-logo{
     display: none;
 }
 
 div.navigation{
     position: relative;
     background-color:rgb(255,253,250);
     top: -21pt;
     z-index: 2;
     max-width: 60%;
     margin: 0 auto;
 }
 
 ul{
     padding: 0;
 }

 div.entry-content{
     padding-left: 50pt;
     padding-right: 50pt;
     padding-top: 0pt;
     padding-bottom: 50pt;
 }
 
 li.pure-menu-selected{
     color: black;
     padding: 3pt 0;
     border-bottom: 2px solid rgb(240,240,240);
 }
 
 li.pure-menu-item{
     font-size: 10pt;
     font-weight: 500;
     font-family: 'Montserrat', sans-serif;
     letter-spacing: 1.5pt;
     padding-left: 7pt;
     padding-right: 7pt;
     text-transform: uppercase;
     display: inline-block;
 }
 
 .home-content p{
     font-size: 14pt;
 }

 .home-content p.allcaps{
    font-size: 11pt;
}

a{
    color: black;
}

a.pure-menu-link{
    text-decoration: none;

}


 p{
     font-family: 'Cormorant Garamond', serif;
     font-size: 12pt;
     line-height: 150%;
 }
 
 .allcaps{
     font-size: 10pt;
     font-family: 'Montserrat', sans-serif;
     font-weight: 300;
     letter-spacing:1.5pt;
     text-transform: uppercase;
 }

 
 img{
     max-width: 100%;
 }

 div.main-image{
    max-width: 70%;
    margin: 0 auto;
 }
 
 .entry-content p{
     max-width: 70%;
     margin: 0 auto;
 }

 .entry-content p+p,div+p,p+div,div+div{
    margin-top: 20pt;
 }

 @media only screen and (max-width: 768px) {


    /* For mobile phones: */
    html, body{
        min-height: 100vh;
        min-width: 100vw;
        height: 100vh;
        width: 100vw;
        background-color: rgb(255,253,250);
    }

    iframe{
        max-width: 100%;
        min-width: 0;
    }

    #hamburger{
        display: block;
    }

    div#page-container{
        margin: 0pt;
        min-width: 100vw;
        width: 100vw;
        height: 100vh;
        min-height: 100vh;
        padding: 0;
        background-color: transparent;
        box-shadow: none;

    }
    #logo{
        display: none;

    }

    div.nav-container{
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
        position: fixed; /* Set the navbar to fixed position */
        min-width: 100vw; /* Full width */
        width: 100vw; /* Full width */
        min-height: 35pt;
        background-color: rgba(0,0,0,0.5);

    }

    div.navigation{
        top: auto;
        left: auto;
        padding: 0;
        width: 100vw;
        max-width: 100vw;
        position: static;
        background-color: transparent;
    }
    
    li.pure-menu-item{
        margin: 0;
        padding: 0;
        width: 100vw;
        float: none;
        display: inline-block;
    }

    li.pure-menu-selected{
        text-decoration: underline;
        text-underline-position: under;
        border: 0;
        width: 100vw;
        
    }

    ul.pure-menu-list{
        top: auto;
        left: auto;
        padding: 0;
        margin: 0;
        display: none;
    }

    ul.pure-menu-list.expanded{
        display:block;
        top: auto;
        left: auto;
        padding: 0;
        margin: 0;
    }

    a.pure-menu-link{
        color: rgba(255,253,250, 0.75);
        font-size: 12pt;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1.5pt;
        padding: 0 0;
        margin: 0 0;
        text-transform: uppercase;
        color: rgb(255,253,250);
        border: none;
        height: 35pt;
        line-height: 35pt;
        text-align: center;
        width: 100vw;
    }

    .pure-menu-selected a.pure-menu-link{
        color: rgba(255,253,250, 1);
    }

    .pure-menu-selected a.pure-menu-link:visited{
        color: rgba(255,253,250, 1);
    }


    div.nav-container hr{
        display: none;
    }

    #Home #mobile-logo{
        display: block;
        max-width: 55%;
        margin: 0 auto;
    }

    p{
        font-size: 12pt;
        line-height: 150%;
        font-family: 'PT Serif', serif;
    }

    .allcaps{
        font-size: 12pt;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        letter-spacing:1.5pt;
        text-transform: uppercase;
    }

    .home-content p{
        font-size: 12pt;
    }
   
    .home-content p.allcaps{
       font-size: 12pt;
   }


    img{
        max-width: 100%;
    }

    div.main-image{
    max-width: 90%;
    margin: 25pt auto;
    }

    div.entry-content{
        padding: 0pt;
        max-width: 100%;
    }

    #content{
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        padding-top: 65pt;
        padding-bottom: 20pt;
        max-width: 100%;
    }

    .entry-content p{
        max-width: 90%;
        padding-bottom:1px;
    }

    p:first-child{
        margin-top: -25pt;
    }

    h3{
        font-size: 14pt;
    }

    #footsep{
        display: none;
    }
 
}